{% extends questions.html%}
{% block content %}
    <h2>Submit Your Votes</h2>
    <div class="divider"></div>
    
    <div class="progress">
        <span>{{ question_number }}</span>/<span>{{ total_questions }}</span>
    </div>
    
    <div class="question">
        <div class="question-title">
            {{ question.title }} <span class="mandatory">*Voting is mandatory</span>
        </div>
        
        <form method="post" action="">
            {% csrf_token %}
            
            <div class="voting-options-form">
                {{ form.rating }}
                {% if form.rating.errors %}
                    <div class="error">{{ form.rating.errors }}</div>
                {% endif %}
            </div>
            
            <div class="voting-options">
                <div class="option" data-value="1" onclick="selectOption(this, 0)">
                    <div class="circle" id="option-1">😞</div>
                    <span>Poor</span>
                </div>
                <div class="option" data-value="2" onclick="selectOption(this, 1)">
                    <div class="circle" id="option-2">😐</div>
                    <span>Neutral</span>
                </div>
                <div class="option" data-value="3" onclick="selectOption(this, 2)">
                    <div class="circle" id="option-3">😊</div>
                    <span>Good</span>
                </div>
            </div>
            
            <div class="comment-section">
                <div class="add-comment">
                    Add Comment <span class="optional">*comments are optional</span>
                </div>
                {{ form.comment }}
                {% if form.comment.errors %}
                    <div class="error">{{ form.comment.errors }}</div>
                {% endif %}
            </div>
              
{% endblock %}
