{% block content %}
<body>
    <div class="container">
        <h1>{{ healthcard.card_name }}</h1>
       
        <form method="POST">
            {% csrf_token %}
            
            
                <div class="card">
                    {% for question in healthcard.questions.all %}
                    <h3>{{ question.text }}</h3>
                    
                    <div class="question">
                        <label>{{ question.red_description }}</label>
                        <input type="radio" name="card{{ healthcard.id }}-q{{ question.id }}" value="red"> 🔴 Red
                    </div>

                    <div class="question">
                        <label>{{ question.yellow_description }}</label>
                        <input type="radio" name="card{{ healthcard.id }}-q{{ question.id }}" value="yellow"> 🟡 Yellow
                    </div>

                    <div class="question">
                        <label>{{ question.green_description }}</label>
                        <input type="radio" name="card{{ healthcard.id }}-q{{ question.id }}" value="green"> 🟢 Green
                    </div>
                    
                        {% if question.comment %}
                        <div class="question">
                            <label>{{ question.comment }}</label>
                            <input type="text" name="comment{{ healthcard.id }}-q{{ question.id }}" placeholder="Add a comment">
                        {% endif %}
                    {% endfor %}
                </div>
           
            
            <button type="submit" class="vote-button">Submit Vote</button>
        </form>
    </div>
</body>
{% endblock %}
