body {
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    position: relative;
}

header {
    position: absolute;
    top: 10px;
    left: 20px;
}

.logo-container {
    margin-top: 20px;
}

.logo {
    max-width: 150px;
    height: auto;
}

.login-container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 600px; /* increased width */
    min-height: 500px; /* added height */
    text-align: center;
    box-sizing: border-box;
    margin-top: 60px;
    border: 1px solid #ddd;
}

.signup-container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 420px;
    text-align: center;
    box-sizing: border-box;
    margin-top: 60px;
    border: px solid #ddd;
}

h2 {
    font-size: 24px;
    margin-bottom: 30px;
    color: #333;
}

input[type="text"],
input[type="password"],
input[type="email"]{
    width: 100%;
    padding: 15px;
    margin: 12px 0;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #4A90E2;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    box-sizing: border-box;
}

button:hover {
    background-color: #357ABD;
}


.homepage-container {
    text-align: center;
    margin-top: 100px;
}

.welcome-box h1 {
    font-size: 2.5rem;
    margin-bottom: 0.5rem;
}

.welcome-box h2 {
    font-size: 1.5rem;
    color: gray;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
    width: 95%;
}

.logo {
    height: 50px;
}

.nav-links {
    display: flex;
    gap: 25px;
    align-items: center;
}

.nav-links a {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.nav-links a:hover {
    color: #0078D7; /* Sky blue hover */
}

.logout-icon {
    display: inline-block;
    font-size: 18px;
}

.logout-icon img {
    width: 30px;
    height: 30px;
}


.healthcheck-header {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.healthcheck-header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.healthcheck-header p {
    font-size: 1.2rem;
    color: #777;
}

.card-container {
    background-color: white;
    padding: 40px;
    width: 400px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 30px;
}

.card-container h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.subheading {
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
}

.session-form {
    margin-top: 20px;
}

.form-label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    color: #333;
}

.session-form select {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

