{% extends 'base.html' %}
<!-- SHOAIB -->
{% block content %}
{% include 'admin_navbar.html' %}
<div class="admin-container">
    <h2>Create New User</h2>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="POST">
        <!-- security reasonings, random url endpoint-->
        {% csrf_token %}
        {{ form.as_p }}
        <!--shortcut for rendering a django form-->
        <button type="submit">Create User</button>
    </form>
</div>
{% endblock %} 
