{% extends 'base.html' %}
{% block content %}
    {% include 'navbar.html' %}
<div class="login-container">
    <h2>Reset password</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-field">
            <label>New Password</label>
            <input type="password" 
                   name="new_password" 
                   required
                   placeholder="Enter your new password">
        </div>
        <div class="form-field">
            <label>Confirm Password</label>
            <input type="password" 
                   name="confirm_password" 
                   required
                   placeholder="Confirm your password"
                   {% if password_mismatch %}class="error-field"{% endif %}>
        </div>
        <button type="submit">Confirm</button>
    </form>
    
    {% if messages %}
    <div class="alert-error">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}