{% extends 'base.html' %}
{% block content %}
    {% include 'navbar.html' %}
<div class="login-container">
    <h2>Reset password</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-field">
            <label>Email</label>
            <input type="email" 
                   name="email" 
                   placeholder="Enter the email you used to log in"
                   required>
        </div>
        <button type="submit" class="btn-primary">Verify Email</button>
    </form>
    
    {% if messages %}
    <div class="alert-error">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}